{% extends 'base.html.twig' %}

{% block title %}Test Page{% endblock %}

{% block body %}
<h1>{{ test_text }}</h1>

<div>
    This is where the test content will appear!
</div>

<h2>Tests ({{ tests|length }})</h2>

<ul>
    {%  for test in tests %}
        <li>{{ test }}</li>
    {% endfor %}
</ul>
{% endblock %}
